<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link  href="/css/style.css" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet"> 

    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/Images//barberia.png" />
    <title>The Barber Job</title>
  </head>
  <body >
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#" id="image"><img src="/Images/barberia.png" class="logo-brand" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"></i>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                      <a class="nav-link" href="#" id="home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" id="servicios">Servicios</a>
                    <li class="nav-item">
                      <a class="nav-link " href="#" id="productos">Reserva</a>
                    </li>
                   
                    <li class="nav-item">
                         <a class="nav-link " href="#" id="contactos">Nosotros</a>
                    </li>
                  </ul>
                </div>
            </div>
              </nav>

    <section id="hero">
        <div class="container">
            <div class="content-center " topmargin-lg>
        <h1>Bienvenido a Nuestro Club de Caballeros</h1>
        <p>Transformate en lo que quieras ser.Con un corte de cabello, un peinado moderno o un arreglo de barba te veras como siempre quisiste.Luce impecable, con estilo masculino. Sentite tan hombre como nunca antes. Ahora y para siempre.</p>
        <a href="#" class="btn btn-light margintop-sm"  >Explora Aqui<i class="icon ion-md-arrow-dropright-circle"></i></i></a>
           </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="contianer-fluid">
            <div class="content-center">
                <h2><b>Atrae Las Miradas</b></h2>
                <p>La Barbería the barber job,es un espacio contemporáneo de peluquería masculina, donde entendemos las inquietudes del hombre de hoy para ofrecer una imagen actual y el estilo que mejor refleja su personalidad.
               </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2>Corte de Cabello</h2>
                        </a>
                        <a href="#">
                            <p>Las mejores tecnicas de cortes clasico.</p>
                        </a>
                    </div>
                    <img src="/Images/corte.jpg" class="img-fluid" alt="portfolio 1">
                </div>
            </div>

            <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Barba y Aseo</h2>
                            </a>
                            <a href="#">
                                <p>Arreglo de barba y bigote.</p>
                            </a>
                        </div>
                        <img src="/Images/barba.jpg" class="img-fluid" alt="portfolio 2">
                    </div>
                </div>


                <div class="col-md-6">
                        <div class="portfolio-container">
                            <div class="portfolio-details">
                                <a href="#">
                                    <h2>¿Algo de Beber?</h2>
                                </a>
                                <a href="#">
                                    <p>Una irresistible barra de bebidas.</p>
                                </a>
                            </div>
                            <img src="/Images/beber.jpg" class="img-fluid" alt="portfolio 3">
                        </div>
                    </div>

                    <div class="col-md-6">
                            <div class="portfolio-container">
                                <div class="portfolio-details">
                                    <a href="#">
                                        <h2>Entretenimiento</h2>
                                    </a>
                                    <a href="#">
                                        <p>Excelente musica y ver partidos.</p>
                                    </a>
                                </div>
                                <img src="/Images/billar.jpg" class="img-fluid" alt="portfolio 4">
                            </div>
                        </div>
                    </div>
    </section>   
    <section id="aboutus" class="bg-light-grey">
        <div class="container"></div>
        <div class="content-center">
                <h2 class="comentario"><b>Dicen Por Ahí...</b></h2>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                   
                       <p class="rating"> Actualmente actualizada tiene los grandes recuerdos de las viejas peluquerias y otras cosas de antaño. El Conde de Caballito es todo un agradable personaje. Excelentes cortes y barberia.</p>
                        <div class="rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                            </ul>
                        </div>
                        <div class="testimonial-user">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/Images/miembro.1.jpg " class="img-fluid" alt="testimonial user 1">
                                </div>
                                <div class="col-md-9">
                                    <h6>Monica Reyes</h6>
                                    <span>Ceo BancoBogota</span>

                                </div>
                            </div>
                        </div>
                  </div>

                  <div class="carousel-item"> 
                        <p class="rating"> Gran viaje al pasado de la mano del amigo Miguel Barnes... Un lugar como pocos para conocer si o si, recortarse la barba y tomar un rico cafecito... Ahhh tambien hay musica y funciones en vivo... puedes ir a cantar si te animas. </p>
                        <div class="rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                            </ul>
                            </div>
                            <div class="testimonial-user">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="/Images/miembro.2.jpg " class="img-fluid" alt="testimonial user 1">
                                        </div>
                                        <div class="col-md-9">
                                            <h6>Alejanda Garcias</h6>
                                            <span>Manager</span>
        
                                        </div>
                                    </div>
                                </div>
                  </div>
                
                
             <div class="carousel-item">
                        <p class="rating">Hermoso lugar. Tiene mesas para tomar café mientras esperas tu turno. La atención es extraordinaria. El trabajo que hacen sobre la barba y el pelo es excelente. Todos los meses paso por esta barbería. </p>
                                <div class="rating">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                        <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                        <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                        <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                        <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    </ul>
                                </div>
                                <div class="testimonial-user">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="/Images/miembro.3.jpg " class="img-fluid" alt="testimonial user 1">
                                            </div>
                                            <div class="col-md-9">
                                                <h6>Alex Polanco</h6>
                                                <span>Ceo Yahoo</span>
            
                                            </div>
                                        </div>
                                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                 <div class="control-button">
                 <i class="icon ion-md-arrow-back"></i>     
                </div>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <div class="control-button">
                <i class="icon ion-md-arrow-forward"></i>     
                </div>
                  <span class="sr-only">Next</span>
                </a>
              </div>
    </section>
              <section id="contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 topmargin-sm">
                                <h2>Listo Para tu corte <br><h2><h3><b>Haz tu Reserva</b></h3>
                                
                            </div>
            
                 <div class="col-md-6 margintop-sm">
                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="" placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="" placeholder="Apellido">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="" placeholder="Correo Electronico">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="" placeholder="Tipo de Corte">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="" placeholder="Numero de Celular(optional)">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <a href="#" class="btn btn-dark full-width">Enviar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            
            <section id="footer" class="bg-dark">
                <div class="container ">
                    <img src="/Images/barberia.png" class="logo-brand" alt="logo">
                    <ul class="list-inline">
                            <li class="list-inline-item footer-menu"><a href="#">Home</a></li>
                            <li class="list-inline-item footer-menu"><a href="#">Servicios</a></li>
                            <li class="list-inline-item footer-menu"><a href="#">Reserva</a></li>
                            <li class="list-inline-item footer-menu"><a href="#">Nosotros</a></li>
                            
                        </ul>
                        <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="icon ion-logo-youtube"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="icon ion-logo-dribbble"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                            </ul>
                            <small>©2019 Todos los derechos Reservados. Created by <a href="https://www.facebook.com/daniel.cuellar.31392" target="_blank"
                                    rel="noopener">The Barber Job</a></small>
                </div>
            </section>
    



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>